:root {
    --blue: #215ad7;
    --darkblue: #0d44bb;
    --darkgray: #2b2a2a;
    --lightgray: #5d5d5d;
  }

  /* added variables so that it can make the rest of the code easier */
  
  /* Added these to stylise the header and give enough space to make the header look nice */
  header {
    padding: 10px;
    text-align: center;
    background-color: var(--darkblue);
    color: #fff;
    text-decoration: underline;
    font-size: 150%;
  }
  
  /* the nav has flex properties so it will move the way it does when resizing the page */
  nav {
    display: flex;
    background-color: var(--darkblue);
  }
  
  /* added styling here */
  nav a {
    color: white;
    border: 4px dashed var(--blue);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* main is flex, with wrap properties so it will wrap around when page is resized */
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* used aside feature so that it would look similar to wireframing */
  aside {
    flex: 1;
    background-color: var(--blue);
    padding: 20px;
    text-decoration: underline;
    color: white;
  }
  
  aside h2 {
    color: white;
  }
  
  /* flex at 3 so that the page will display as it does */
  section {
    flex: 3;
    background-color: var(--blue);
    padding: 20px;
  }
  
  /* I did this so that the page would still maintain proportions, there is probably a better way to do this */
  .hide {
    visibility: hidden;
  }
  
  section h2 {
    color: white;
  }
  
/* adjusted line-height because the spacing between the lines felt like it didn't fill the section */
  section p {
    color: white;
    line-height: 2;
  }

/* flex box */
  .box {
    display: flex;
    background-color: var(--darkblue);
    max-width: 100%;
    padding: 20px;
    height: auto;
    border: 3px solid var(--darkgray);
    border-radius: 10px;
  }
  
  /* both .container and img are here so that the image would stay within the container and not break out when adjusting the page */

  .container {
    display: flex;
    max-width: 100%;
    position: relative;
    text-align: center;
    color: white;
  }
  
  img {
    flex: 1;
    max-width: 100%;
    height: auto;
  }
  
  /* .round is to round the image */
  
  .round {
    border-radius: 30px;
  }

  /* centered the footer makes it wrap up the page nicely, in my opinion */

  footer {
    padding: 20px;
    text-align: center;
    background-color: var(--darkblue);
    color: #fff;
  }
  
  /* added for nicer looking spacing */

  footer a {
    line-height: 2;
  }

  .contacts {
    color: white;
  }

/* .container img and :hover features used to make the picture glow when highlighted */

.container img {
    transition: filter 0.5s ease-in-out;
}

/* used filter: brightness(); to get the effect in the moc, I think there is other ways to achieve it */

.container:hover img {
    filter: brightness(1.2);
  }
  
  /* This media query should be what it would change to for tablet sized devices, according to google 767 is max width */
  @media screen and (max-width: 767px) {
    /* I am using flex-direction to stack the navbar, aside and body sections. */
    main,
    nav {
      flex-direction: column;
    }
    /* This makes the aside bar stack above the sections */
    aside {
      order: 0;
    }
    /* Change the header backgroun */
    header, 
    nav {
      background-color: var(--darkgray);
    }
    /* When the page is changed the nav and footer will turn dark gray */
  
    footer {
      background-color: var(--darkgray);
    }
  }
  
  /* This media query is for smart phones, according to google have max width of 480px, follows same protocol as above, except will change to lighter gray */
  @media screen and (max-width: 480px) {
    main,
    nav {
      flex-direction: column;
    }
  
    aside {
      order: 0;
    }
  
    header,
    nav {
      background-color: var(--lightgray);
    }
  
    footer {
      background-color: var(--lightgray);
    }
  }